@model List<Kenneth_Perez.Models.Modulo>

@{
    ViewData["Title"] = "Oriental";

}

<h4 class="text-success">Administración de Modulos</h4>

<div>
    <table class="table table-striped">
        <thead class="table-dark">
            <tr>
                <th>
                    Id_Modulo
                </th>
                <th>
                    Id_Propetario
                </th>
                 <th>
                    Propietario
                </th>
                <th>
                    Descripcion
                </th>
                <th>
                    Fecha Creacion
                </th>
                <th>
                    Acciones a Realizar
                </th>
            </tr>
        </thead>

        <tbody>
           @{
                foreach (var modulo in Model)
                {
                    <tr>
                        <td>@modulo.IdModulo</td>
                        <td>@modulo.IdPropietario</td>
                        <td>@modulo.Nombre</td>
                        <td>@modulo.Descripcion</td>
                        <td>@modulo.Fecha</td>
                        <td>
                            <a class="btn btn-info" href=@Url.Action("Editarmodulo", new{IdModulo = modulo.IdModulo})>Editar</a>
                            <a class="btn btn-danger" href=@Url.Action("Eliminarmodulo", new{IdModulo = modulo.IdModulo})>Eliminar</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

<div class="text-center">
    <a class="btn btn-success mt-1" href="~/Home/Editarmodu">Nuevo Modulo</a>
</div>