@model List<Kenneth_Perez.Models.Producto>

@{
    ViewData["Title"] = "Oriental";

}

<h4 class="text-success">Administración de Productos</h4>

<div>
    <table class="table table-striped">
        <thead class="table-dark">
           <tr>
                <th>
                    Id_Producto
                </th>
                <th>
                    Id_Categoria
                </th>
                <th>
                    Nombre Producto
                </th>
                <th>
                    Precio
                </th>
                <th>
                    Descripcion
                </th>
                <th>
                    Fecha Creacion
                </th>
            </tr>
        </thead>

        <tbody>
            @{
                foreach (var item in Model)
                {
                    <tr>
                        <td>@item.IdProducto</td>
                        <td>@item.IdCategoria</td>
                        <td>@item.Nombre</td>
                        <td>@item.Precio</td>
                        <td>@item.Descripcion</td>
                        <td>@item.Fecha</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

<div>
    <a class="btn btn-success">Nuevo Producto</a>
</div>
