@model List<Kenneth_Perez.Models.Producto>

@{
    ViewData["Title"] = "Oriental";

}

<h4 class="text-success">Administración de Productos</h4>

<div>
    <table class="table table-striped tabla-Productos">
        <thead class="table-dark">
           <tr>
                <th>
                    Id_Producto
                </th>
                <th>
                    Id_Categoria
                </th>
                <th>
                    Nombre Producto
                </th>
                <th>
                    Precio
                </th>
                <th>
                    Descripcion
                </th>
                <th>
                    Fecha Creacion
                </th>
            </tr>
        </thead>

        <tbody>
            @{
                foreach (var producto in Model)
                {
                    <tr>
                        <td>@producto.IdProducto</td>
                        <td>@producto.IdCategoria</td>
                        <td>@producto.Nombre</td>
                        <td>@producto.Precio</td>
                        <td>@producto.Descripcion</td>
                        <td>@producto.Fecha</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

<div class="text-center container mt-1">
    <a class="btn btn-success mt-1" href="~/Home/Editarprod"><i class="fa fa-gifts"></i> Nuevo Producto</a>
</div>

@section Scripts{
   <script>
       $('.tabla-Productos').DataTable(); 
   </script>
}

